@import "tailwindcss";

:root {
  --titlebar-height: 36px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: transparent !important;
}

.app-content {
  height: calc(100vh - var(--titlebar-height));
  overflow-y: auto;
}
